*/*/Builds - Redis Harness.xojo_project
*.xojo_uistate
*.gz
*/*/Redis Harness.debug.app
Harnesses/Console/RedisHarness.debug
Harnesses/Console/Builds - Redis Console Harness.xojo_project
Server GUI/Builds - Redis Server.xojo_project
*.debug.app
Harnesses/Desktop/Builds - Redis Harness
